// Responsive
.banner {
    position: relative;
    background: url('../images/bg/bannger-lg.png') top center/cover no-repeat;
    height: 310px;
    z-index: 1;
    &::after {
        content: '';
        background: transparent
            linear-gradient(180deg, #009fdf03 0%, #0a2240 100%) 0% 0% no-repeat
            padding-box;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .container {
        max-width: 1340px;
    }

    &__title {
        width: 150px;
        height: 20px;
        background: #0033a1;
        color: #fff;
        margin-top: 25px;
        display: inline-block;
        h5 {
            font-size: 12px;
            line-height: 20px;
            margin-left: 15px;
        }
    }
    &__article-info {
        margin-top: 130px;
        padding-bottom: 30px;
        display: block;
    }

    &__article-title {
        font-size: 36px;
        line-height: 48px;
        color: #fff;
        font-family: Bbook;
    }
    &__times {
        font-size: 22px;
        line-height: 30px;
        color: #fff;
        font-family: Bbook;
    }
    &__read-time {
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        font-family: Bbook;
    }
}

@media (max-width: 991px) {
    .banner {
        height: 375px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .banner {
        height: 435px;
    }
}
