// Responsive
.banner {
  position: relative;
  background: url('../images/bg/bannger-lg.png') top center/cover no-repeat;
  height: 310px;
  z-index: 1;
  &::after {
    content: '';
    background: transparent linear-gradient(180deg, #009fdf03 0%, #0a2240 100%)
      0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container {
    max-width: 1340px;
  }

  &__title {
    width: 150px;
    height: 20px;
    background: #0033a1;
    color: #fff;
    margin-top: 25px;
    display: inline-block;
    h5 {
      font-size: 12px;
      line-height: 20px;
      margin-left: 15px;
    }
  }
  &__article-info {
    margin-top: 130px;
    padding-bottom: 30px;
    display: block;
  }

  &__article-title {
    font-size: 36px;
    line-height: 48px;
    color: #fff;
    font-family: Bbook;
  }
  &__times {
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-family: Bbook;
  }
  &__read-time {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-family: Bbook;
  }
}

// banner-02
.bannermwb {
  .bannermwb__item {
    background: url('../images/Bitmap.png') center center/cover no-repeat;
    height: 75vh;
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      margin-right: 10px;
      button {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        font-size: 0px;
        border: 1px solid #0a2240;
        transition: all 0.3s linear;
      }
      &.slick-active {
        button {
          background-color: #0a2240;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .banner {
    height: 375px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .banner {
    height: 435px;
  }
}
