.feed {
    padding: 40px 0px;
    .card-box {
        height: 450px;
        max-height: 100%;
        background-color: #fff;
    }

    &__message {
        position: relative;
        .feed__top-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .feed__social-img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f2f3f4;
            }
        }
    }

    &__top-bar {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__top-bar-title {
        font-size: 14px;
        line-height: 19px;
        color: #0a2240;
        margin-left: 15px;
    }
    &__social-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f2f3f4;
    }
    &__input-wrapper {
        position: relative;
        margin: 15px 0px;
        margin-top: 0px;
        input {
            width: 100%;
            height: 35px;
            position: relative;
            border: 1px solid #f2f3f4;
            padding: 0px 15px;
        }
        input[placeholder] {
            font-size: 12px;
            line-height: 16px;
            color: #858d9d;
        }
        span {
            position: absolute;
            top: 5px;
            right: 15px;
        }
    }

    // message list
    &__chat-list-top {
        align-items: center;
    }
    &__message-content {
        p {
            font-size: 12px;
            line-height: 14px;
            color: #3c4b6c;
            margin-top: 15px;
        }
    }
    &__chat-list_names {
        margin-left: 15px;
        h5 {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 0px;
            color: #3b4c6b;
        }
        span {
            font-size: 10px;
            line-height: 14px;
            color: #858d9d;
        }
    }

    &__reply {
        position: relative;
        padding-top: 25px;
        a {
            font-size: 12px;
            line-height: 14px;
            display: block;
            width: 100%;
            text-transform: capitalize;
            color: #0089ff;
        }
        input {
            background-color: #f2f3f4;
            width: 100%;
            height: 35px;
            padding-left: 45px;
        }
        input[placeholder] {
            font-size: 12px;
            line-height: 16px;
            color: #0a2240;
        }
        span {
            position: absolute;
            left: 10px;
            bottom: 8px;
        }
    }

    &__likes {
        position: absolute;
        bottom: 15px;
        span {
            font-size: 12px;
            line-height: 16px;
            color: #3b4c6b;
            margin-top: 10px;
        }
    }

    &__brief {
        p {
            font-size: 12px;
            line-height: 16px;
            margin: 15px 0px;
        }
    }

    // slick arrow

    .slick-arrow {
        position: absolute;
        top: -45px;
        z-index: 1;
        transform: translate(-50%);
        background-color: transparent;
        &.prevArrow {
            left: 50px;
        }
        &.nextArrow {
            z-index: 1;
            right: 50px;
        }
    }
}

// Responsive
@media (max-width: 1200px) {
    .feed {
        .card-box {
            height: 100%;
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    .feed {
        .slick-arrow {
            top: -45px;
            &.nextArrow {
                right: 30px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1023px) {
}

@media (max-width: 991px) {
    .feed {
        .container {
            .row {
                .col-lg-4 {
                    margin-bottom: 30px;
                }
            }
        }
        &__img-content {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        &__likes {
            position: relative;
            bottom: 0;
            left: 0;
            padding-top: 10px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 575px) {
    .feed {
        margin: 35px 0px;
        margin-bottom: 0px;
    }
}
@media (min-width: 420px) and (max-width: 575px) {
}
@media (min-width: 320px) and (max-width: 419px) {
    .feed {
        .slick-arrow {
            top: -45px;
            &.nextArrow {
                right: 25px;
            }
        }
        &__input-wrapper {
            span {
                right: 8px;
            }
        }
    }
}
