header {
    background: transparent linear-gradient(276deg, #00a1e0 0%, #0033a1 100%) 0%
        0% no-repeat padding-box;
    box-shadow: 0px 4px 30px #00000033;
    padding: 30px 0px;

    .navbar {
        &-collapse {
            flex-direction: column;

            .form-inline {
                position: relative;

                input {
                    width: 620px;
                    height: 40px;
                    border-radius: 0px;
                    position: relative;

                    &:hover,
                    &:focus {
                        position: relative !important;
                        color: #000;
                    }
                    &[placeholder] {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                button.btn {
                    position: absolute;
                    right: 0px;
                    height: 40px;
                    background-color: #0089ff;
                    border-radius: 0px;
                    color: #fff;
                }
            }
        }
        &-nav {
            margin-bottom: 30px;
            li {
                margin-right: 35px;
                position: relative;
                &.active {
                    &::after {
                        height: 2px;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 0px;
                    background: #fff;
                }
                &:hover {
                    &::after {
                        height: 2px;
                    }
                }
                a {
                    color: #fff !important;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .form-inline {
            margin-top: -75px;
            .login__name {
                font-size: 13px;
                line-height: 20px;
            }
        }
    }
}

// Responsive
@media (max-width: 1200px) {
    header {
        .navbar-nav {
            li {
                margin: 0;
                margin-bottom: 30px;
            }
        }
    }
}

@media (max-width: 1199px) {
    header {
        .navbar-collapse {
            .form-inline {
                input {
                    width: 100%;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
}

@media (min-width: 992px) and (max-width: 1023px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
@media (max-width: 575px) {
}
@media (min-width: 420px) and (max-width: 575px) {
}
@media (min-width: 320px) and (max-width: 419px) {
}
