* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
dl {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        @extend a;
    }
    &:active {
        @extend a;
    }
    &:focus {
        @extend a;
    }
}
button,
.btn,
input {
    border: none;
    outline: none;
    box-shadow: none;
    &:hover {
        @extend button;
    }
    &:active {
        @extend button;
    }
    &:focus {
        @extend button;
    }
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
    background-color: #b3d4fc; /* 1 */
    color: #000000; /* 1 */
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc; /* 1 */
    color: #000000; /* 1 */
    text-shadow: none;
}

// slick slider
.slick-slide {
    outline: none;
}

//  start from here
body {
    font-family: BRegular;
}

main {
    background-color: #f2f3f4;
    position: relative;
}

.sticky__sidebar {
    position: fixed;
    top: 250px;
    z-index: 9999;
    li {
        background-color: #0a2240;
        align-items: center;
        padding: 20px;
        border-radius: 2px;

        &.sticky__item-02 {
            background-color: #0033a1;
        }
        &.sticky__item-03 {
            background-color: #f45a0e;
        }
        a {
            span {
                font-size: 12px;
                line-height: 40px;
                margin-left: 15px;
                color: #fff;
            }
        }
    }
}

.sticky__img-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
}
