* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
dl {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        @extend a;
    }
    &:active {
        @extend a;
    }
    &:focus {
        @extend a;
    }
}
button,
.btn,
input {
    border: none;
    outline: none;
    box-shadow: none;
    &:hover {
        @extend button;
    }
    &:active {
        @extend button;
    }
    &:focus {
        @extend button;
    }
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::-moz-selection {
    background-color: #b3d4fc; /* 1 */
    color: #000000; /* 1 */
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc; /* 1 */
    color: #000000; /* 1 */
    text-shadow: none;
}

// slick slider
.slick-slide {
    outline: none;
}

//  start from here
body {
    font-family: BRegular;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #858d9d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0033a1;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0033a1;
}

main {
    background-color: #f2f3f4;
    position: relative;
}

.sticky__sidebar {
    position: fixed;
    top: 295px;
    left: 0px;
    z-index: 9999;
    transition: all 0.3s linear;
    @media (max-width: 1365px) {
        left: -125px;
    }
    &.open {
        left: 0px;
    }
    li {
        background-color: #0a2240;
        align-items: center;
        padding: 10px 8px;
        border-radius: 2px;

        &.sticky__item-02 {
            background-color: #0033a1;
        }
        &.sticky__item-03 {
            background-color: #f45a0e;
        }
        a {
            span {
                font-size: 12px;
                line-height: 19px;
                margin-left: 15px;
                color: #fff;
            }
        }
    }

    .toggle {
        width: 30px;
        height: 30px;
        padding: 15px;
        background-color: #0033a1;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(0%, -50%);
        cursor: pointer;
        @media (min-width: 1366px) {
            display: none;
        }
        i {
            color: #fff;
            font-size: 18px;
        }
    }

    &.social {
        left: inherit;
        right: 0px;

        .sticky__item-01 {
            background-color: #f54052;
        }
        .sticky__item-02 {
            background-color: #ae2d68;
        }
        .sticky__item-03 {
            background-color: #660f56;
        }
        .sticky__item-04 {
            background-color: #280659;
        }
        @media (max-width: 1365px) {
            right: -55px;
        }
        .toggle {
            right: inherit;
            left: -30px;
            // display: none;
        }
        &.open {
            right: 0px;
        }
    }
}

.sticky__img-wrapper {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
}
