@font-face {
  src: url("../Fonts/BRegular.otf");
  font-family: BRegular;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
dl {
  list-style: none;
  margin: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

button, button:hover,
.btn:hover,
input:hover, button:active,
.btn:active,
input:active, button:focus,
.btn:focus,
input:focus,
.btn,
input {
  border: none;
  outline: none;
  box-shadow: none;
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none;
}

.slick-slide {
  outline: none;
}

body {
  font-family: BRegular;
}

.card-box {
  padding: 25px;
}

.feed {
  margin: 80px 0px;
}

.feed .card-box {
  height: 450px;
  max-height: 100%;
}

.feed__message {
  position: relative;
}

.feed__message .feed__top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.feed__message .feed__top-bar .feed__social-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
}

.feed__top-bar {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.feed__top-bar-title {
  font-size: 14px;
  line-height: 19px;
  color: #0a2240;
  margin-left: 15px;
}

.feed__social-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f3f4;
}

.feed__input-wrapper {
  position: relative;
  margin: 15px 0px;
  margin-top: 0px;
}

.feed__input-wrapper input {
  width: 100%;
  height: 35px;
  position: relative;
  border: 1px solid #f2f3f4;
  padding: 0px 15px;
}

.feed__input-wrapper input[placeholder] {
  font-size: 12px;
  line-height: 16px;
  color: #858d9d;
}

.feed__input-wrapper span {
  position: absolute;
  top: 5px;
  right: 15px;
}

.feed__chat-list-top {
  align-items: center;
}

.feed__message-content p {
  font-size: 12px;
  line-height: 14px;
  color: #3c4b6c;
  margin-top: 15px;
}

.feed__chat-list_names {
  margin-left: 15px;
}

.feed__chat-list_names h5 {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0px;
  color: #3b4c6b;
}

.feed__chat-list_names span {
  font-size: 10px;
  line-height: 14px;
  color: #858d9d;
}

.feed__reply {
  position: relative;
  padding-top: 25px;
}

.feed__reply a {
  font-size: 12px;
  line-height: 14px;
  display: block;
  width: 100%;
  text-transform: capitalize;
  color: #0089ff;
}

.feed__reply input {
  background-color: #f2f3f4;
  width: 100%;
  height: 35px;
  padding-left: 45px;
}

.feed__reply input[placeholder] {
  font-size: 12px;
  line-height: 16px;
  color: #0a2240;
}

.feed__reply span {
  position: absolute;
  left: 10px;
  bottom: 8px;
}

.feed__likes span {
  font-size: 12px;
  line-height: 16px;
  color: #3b4c6b;
  margin-top: 10px;
}

.feed__brief p {
  font-size: 12px;
  line-height: 16px;
  margin: 15px 0px;
}

.feed .slick-arrow {
  position: absolute;
  top: -45px;
  z-index: 1;
  transform: translate(-50%);
  background-color: transparent;
}

.feed .slick-arrow.prevArrow {
  left: 50px;
}

.feed .slick-arrow.nextArrow {
  z-index: 1;
  right: 50px;
}

@media (max-width: 1200px) {
  .feed .card-box {
    height: inherit;
    max-height: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .feed .slick-arrow {
    top: -45px;
  }
  .feed .slick-arrow.nextArrow {
    right: 30px;
  }
}

@media (max-width: 991px) {
  .feed .card-box {
    margin-bottom: 30px;
  }
  .feed__img-content img {
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 575px) {
  .feed {
    margin: 35px 0px;
  }
}

@media (min-width: 320px) and (max-width: 419px) {
  .feed .slick-arrow {
    top: -45px;
  }
  .feed .slick-arrow.nextArrow {
    right: 25px;
  }
  .feed__input-wrapper span {
    right: 8px;
  }
}

.footer {
  padding: 60px 0px;
  padding-bottom: 40px;
  background: #0a2240;
  color: #fff;
}

.footer__title {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 19px;
}

.footer__col-item {
  margin-left: 10px;
}

.footer__col-item li {
  margin-bottom: 15px;
}

.footer__col-item li a {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
}

.footer .footer__input-wrapper {
  position: relative;
}

.footer .footer__input-wrapper label {
  font-size: 12px;
}

.footer__col-input {
  width: 260px;
  height: 40px;
  position: relative;
  padding-left: 15px;
}

.footer__search {
  position: absolute;
  right: -15px;
  top: 31px;
  width: 40px;
  height: 40px;
  background: #0089ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__search i {
  font-size: 24px;
}

.footer__social-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

@media (max-width: 1199px) {
  .footer__col-input {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__col-input {
    width: 140px;
  }
}

@media (max-width: 767px) {
  .footer__col {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .footer__input-wrapper label {
    display: block;
  }
  .footer__col-input {
    width: 100%;
  }
  .footer__search {
    top: 26px;
    right: 0px;
  }
  .footer__social-icon {
    justify-content: flex-start;
  }
  .footer__social-icon li {
    margin-right: 15px;
  }
}
